html,
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(../img/BodyBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 1000px;
}

.container-fluid {
    margin: 55px 0px 0px 50px;
    padding: 0px;
}

.left li {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    color: #26272d;
    margin-left: 15px;
    margin-right: 15px;
}

.right {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.right li {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    color: #26272d;
    margin-left: 13px;
    margin-right: 20px;
}

.logo img {
    margin-right: 50px;
}

a {
    font-size: 16px;
    color: #26272d;
}

a:hover {
    color: blue;
    text-decoration: none;
}

h1 {
    font-size: 62px;
    color: #26272d;
    padding-top: 115px;
    font-weight: 400;
    line-height: 72px;
}

p {
    font-size: 20px;
    color: #8c8f94;
}
/* center button 'watch video' */
.btn {
    font-size: 16px;
    font-weight: 400;
    padding: 14px 48px;
    text-decoration: none;
    color: #26272d;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.fa.fa-play {
    margin-right: 15px;
}


/* right button 'help' */

.greybutton a {
    color: #9f9fa0;
}

.greybutton a:hover {
    color: blue;
}


/* right blue button apple */

.apple {
    background-color: #267df4;
    border-radius: 50px;
    padding: 12px 17px 12px 17px;
}

.apple a {
    color: white;
}

.apple .fa {
    margin-right: 5px;
}


/* right blue button apple */
